h1{
	padding-left: 450px;
   	text-align: center;
   	font-style: italic;
   	color: white;
   	font-size: 30px;
 	font-family: "Helvetica", Georgia, Serif;
}
button{
	margin-left: 350px;
	border-radius: 10px;
	padding:5px;

}
form[id="form763"]{
	margin-left: 400px;
}
select{
float:center;
width:500px; /*or whatever you want the spacing to be*/
padding: 2px 2px;
border: 2px solid rgba(0, 0, 0, 0.3);
background-color: #f8f8f8;
border-radius: 2px;
margin-top: 10px;
}
input[type=submit]{
	padding:5px 10px;
	margin-left: 20px;
	color:white; font-size:15px;
border-radius: 10px;background-color:#62a6d1; 
}
option{
float:center;
width:450px;/*or whatever you want the spacing to be*/
font-size: 20px;
	border: 2px solid rgba(0, 0, 0, 0);
	border-radius: 2px;
}
body{
	background-image: url('/static/img/allstoresbody.jpg');
}
label{
	margin-left: 500px;
	text-align: center;
	color: white;
	font-size: 15px;
	font-style: italic;
}
table, th, td {
	background-color: white;
  border-collapse: collapse;
   border: 3px solid black;
   border-radius: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
} 
table{
	width:100%;
	height:auto;
	text-align: center;
}
th{    background-color: #62a6d1;
    color: #ffffff;
    font-size: 20px;
}